{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}

{% block content %}

<h2>Edit a user</h2>

<form action="/edit_user/{{ user.id }}" method="POST" class="my-4">

    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" name="first-name" id="first-name" value="{{user.first_name}}">
    </div>

    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" name="last-name" id="last-name" value="{{user.last_name}}">
    </div>
        
    <div class="form-group">
        <label for="image-url">Image URL</label>
        <input type="text" class="form-control" name="image-url" id="image-url" value="{{user.image_url}}" >
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info">Save</button>
        <button type="submit" class="btn btn-danger">Cancel</button>
    </div>

</form>

{% endblock %}
