{% extends 'base.html' %}

{% block title %} Users List {% endblock %}

{% block content %}

<div class="row">
        {% if users %}
        <h2>Users</h2>
        
        <ul class="list-group">
         {% for user in users %}
         <li class="list-group-item">
           <a href="/user/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
         </li>
         {% endfor %}
        </ul>
        
        {% else %}
        <p>We have no users right now.</p>
        {% endif %}
</div>
<form action="/users/new">
    <div class="row">
        <a href="/users/new" class="btn btn-primary">Add user</a>
    </div>
</form>
{% endblock %}