{% extends 'base.html' %}

{% block title %} User Info {% endblock %}

{% block content %}

<h2>{{ post.title }}</h2>

<div>
    {{ post.content }}

    <p>By {{ post.user.first_name }} {{ post.user.last_name }}</p>
</div>

<form>
    <a href="/users/{{post.user.id}}" class="btn btn-light">Cancel</button>
    <a href="/posts/{{post.id}}/edit" class="btn btn-info">Edit</a>
    <button formaction="/posts/{{post.id}}/delete" formmethod="POST" class="btn btn-danger">Delete</button>
</form>

{% endblock %}