{% extends 'base.html' %}

{% block title %} User Info {% endblock %}

{% block content %}

<div class="row">
    <div class="col-4">
        <img src="{{ user.image_url }}" alt="{{ user.first_name }} {{ user.last_name }}" class="img-fluid">
    </div>
    
    <div class="col-8">   
        <h2>{{ user.first_name }} {{ user.last_name }}</h2> 

        <div class="my-4 row px-2">
            <a href="/edit_user/{{ user.id }}" class="btn btn-info">Edit</a>
   
            <form method="POST" action="/delete_user/{{ user.id }}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        
        <h3>Posts</h3>

        {% if user.posts %}
        
        <ul>
            {% for post in user.posts %}
            <li>
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
        
        {% else %}
        <p>You have no posts right now.</p>
        {% endif %}

        <form action="/users/{{ user.id }}/posts/new">
            <button class="btn btn-info">Add Post</button>
        </form>
</div>

{% endblock %}